alabaster==1.0.0 ; python_version >= "3.11"
babel==2.18.0 ; python_version >= "3.11"
certifi==2026.6.17 ; python_version >= "3.11"
charset-normalizer==3.4.7 ; python_version >= "3.11"
colorama==0.4.6 ; python_version >= "3.11" and sys_platform == "win32"
docutils==0.22.4 ; python_version >= "3.11"
dom-toml==2.3.0 ; python_version >= "3.11"
domdf-python-tools==3.10.0 ; python_version >= "3.11"
idna==3.18 ; python_version >= "3.11"
imagesize==1.5.0 ; python_version >= "3.11"
jinja2==3.1.6 ; python_version >= "3.11"
markupsafe==3.0.3 ; python_version >= "3.11"
natsort==8.4.0 ; python_version >= "3.11"
packaging==26.2 ; python_version >= "3.11"
pygments==2.20.0 ; python_version >= "3.11"
requests==2.34.2 ; python_version >= "3.11"
roman-numerals==4.1.0 ; python_version >= "3.11"
snowballstemmer==3.1.1 ; python_version >= "3.11"
sphinx-autodoc-typehints==3.6.1 ; python_version >= "3.11"
sphinx-pyproject==0.3.0 ; python_version >= "3.11"
sphinx-rtd-theme==3.1.0 ; python_version >= "3.11"
sphinx==9.0.4 ; python_version >= "3.11"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.11"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.11"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.11"
sphinxcontrib-jquery==4.1 ; python_version >= "3.11"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.11"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.11"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.11"
typing-extensions==4.15.0 ; python_version >= "3.11"
urllib3==2.7.0 ; python_version >= "3.11"
